// 边框宽度
$aside-width: 230px;
$aside-collapse-width: 65px;

// 头部高度
$header-height: 45px;


.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
// 阿里图标 FontClass/Symbol 前缀 设置
[class^="lion-icon-"], [class*=" lion-icon-"] {
    font-family:"iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    margin-right: 5px;
    width: 24px;
    text-align: center;
    font-size: 18px;
  }

/*头部导航栏*/
.header {
    .el-menu--horizontal > .el-menu-item {
        height: $header-height;
        line-height: $header-height;
        padding: 0 12px;
    }
}

// 去掉点击选中时的边框
::v-deep :focus { 
    outline:0;
}
html{
    width: 100%;
    height: 100%;
    }
#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
    /* text-align: center; */
    /* color: #2c3e50;
    margin-top: 60px; */
    height: 100%;
    width: 100%;
    position: relative;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #f2f2f2;
}
body {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0 !important;
    padding: 0 !important;
}

// 链接样式调整
a {
    color: inherit;
    text-decoration: none;
    color: #5f6064;
    &:hover {
      text-decoration: none;
      color: #48a1fa;
    }
}

.top-div-button {
    padding: 15px 0px 15px 15px;
}

.search-form {
    padding: 10px 0px 15px 25px;
}
/*popup弹框样式*/
.el-popup-parent--hidden {
    overflow: auto !important;
}
/*分页栏样式*/
.public-pagination {
    padding: 25px 30px 25px 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
/*查询条件框统一样式*/
.search-area {
    padding: 10px 2px 0px;
    margin: 5px 0;
    background: #f8f8f8;
}

/*按钮样式*/
.btn_add{
    color:#409EeF
}
/*按钮样式*/
.btn_edit{
    color:#8CC5FF
}
/*按钮样式*/
.btn_delete{
    color:#F56C6C
}