// 边框宽度
$aside-width: 230px;
$aside-collapse-width: 65px;

// 头部高度
$header-height: 45px;

.header {
    .el-menu--horizontal > .el-menu-item {
        height: $header-height;
        line-height: $header-height;
        padding: 0 12px;
    }
}

// 去掉点击选中时的边框
::v-deep :focus { 
    outline:0;
}

// 链接样式调整
a {
    color: inherit;
    text-decoration: none;
    color: #5f6064;
    &:hover {
      text-decoration: none;
      color: #48a1fa;
    }
}

.top-div-button {
    padding: 15px 0px 15px 15px;
}

.search-form {
    padding: 10px 0px 15px 25px;
}

.public-pagination {
    padding: 25px 30px 25px 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}